.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.card {
    width: 100%; /* Default to full width on smaller screens */
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    .card {
        width: 48%;
    }
}

.id {
    font-size: 20px;
    margin: 0;
}

.description {
    margin: 10px 0;
}

.price {
    font-weight: bold;
    margin: 0;
}

.button-flag {
    background-color: brown;
    color: #cccccc;
    margin: 5px;
    padding: 5px;
}

.button-allow {
    background-color: darkolivegreen;
    color: #cccccc;
    margin: 5px;
    padding: 5px;
}

.button-view {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

/* Media query for screens wider than 768px */
@media (min-width: 768px) {
    .view-container {
        width: 50%;
        margin-left: 25%;
    }
}

.button-comment {
    margin-left: auto;
    padding: 5px;
}
